 // LIGHT MODE (predeterminado)
 /* $nav-bg: #1e3a5f;
 $sidebar-bg: #164478;
 $main-bg: #eef3fb;
 $accent: #1a7f5a; // verde = pagos/ingresos
 $accent-light: #e8f5f0;
 $color-ingreso: #1a7f5a;
 $color-egreso: #c0392b;
 */
 // DARK MODE
 /*  $nav-bg-dark: #0f1923;
 $sidebar-bg-dark: #0a1220;
 $main-bg-dark: #131e2e;
 $card-bg-dark: #1a2744;
 $accent-dark: #22a06b;
 $color-egreso-dark: #e05252; */

 /* 
 #F07D2B
 #FEF3E8
 #1B6B4A
 #2A9668
 #E8F5EF
 #1A365D
 #2D9964
 #F7FAFC
 #ED8936

 #3182CE
 #EDF2F7
 #667EEA
 #38B2AC
 */