<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 9999">

	@for (toast of toastService.toasts(); track toast.id) {

	<div class="toast show mb-2 shadow-sm border-0 toast-fade" [class.bg-success]="toast.type === 'success'"
		[class.bg-danger]="toast.type === 'error'" [class.bg-warning]="toast.type === 'warning'"
		[class.bg-info]="toast.type === 'info'" [class.text-white]="toast.type !== 'warning'"
		[class.text-dark]="toast.type === 'warning'">

		<div class="d-flex align-items-center p-2">

			<div class="me-2">
				<i class="bi" [class.bi-check-circle]="toast.type === 'success'" [class.bi-x-circle]="toast.type === 'error'"
					[class.bi-exclamation-triangle]="toast.type === 'warning'" [class.bi-info-circle]="toast.type === 'info'">
				</i>
			</div>

			<div class="flex-grow-1 small">
				{{ toast.message }}
			</div>

			<button type="button" class="btn-close btn-close-white ms-2" (click)="toastService.remove(toast.id)">
			</button>

		</div>
	</div>

	}

</div>